<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Audiologue</string>
	<key>CFBundleIconFile</key>
	<string>applet</string>
	<key>CFBundleIdentifier</key>
	<string>com.vigneshradhakrishnan.Audiologue</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Audiologue</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Audiologue requires microphone access to record your meeting voice tracks.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Audiologue requires system audio capture permissions to record system sounds (like other speakers in virtual meetings).</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.vigneshradhakrishnan.Audiologue</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>audiologue</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
